
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <form action=""style="border: black 10px;">
    <div>

     Nombre del evento: <input type="text" required><br> <br>
     Localización: <input type="text" required><br><br>
     Correo de contacto: <input type="email" required><br><br>
     Fecha del evento: <input type="date" required><br><br>
     Descripcion del evento: <input type="text area" required><br><br>
     <input type="submit" value="Crear">


    </div>

  </form>

</body>
</html>
