<!-- <app-inici></app-inici> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
  <header>
		<div class="wrapper">
			<div class="logo">Segona WEB</div>

			<nav>
				<a class="nav-link" [routerLink]="['inici']"routerLinkActive="active">Inicio</a>
				<a class="nav-link" [routerLink]="['events']"routerLinkActive="active">Eventos</a>
				<!-- <a class="nav-link" [routerLink]="['alta']"routerLinkActive="active">Nuevo Evento </a>
				<a class="nav-link" [routerLink]="['modificar']"routerLinkActive="active" >Modificar Evento</a> -->
			</nav>
		</div>
	</header>
</body>
</html>
<router-outlet></router-outlet>



